<form class={{this.styleNamespace}} {{on "submit" this.handleFormSubmit}}>
  <h2 id="movie-name">{{@movie.title}}</h2>
  <label for="title">Update the movie title here:</label>
  <input
    type="text"
    id="title"
    value={{@movie.title}}
    {{on "input" this.handleUpdateTitle}}
  />

  <label for="description">Update the movie description here:</label>
  <textarea
    id="description"
    {{on "input" this.handleUpdateDescription}}
  >{{@movie.description}}</textarea>

  <div>
    <button id="save" type="submit">Save</button>
  </div>
  {{#if this.successMessage}}
    <p id="success-message"> {{this.successMessage}}</p>
  {{/if}}
</form>