<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <MovieList
    @movies={{this.movies}}
    @isLoading={{this.isLoading}}
    @isError={{this.isError}}
    @deleteMovie={{this.deleteMovie}}
    @loadMovies={{this.loadMovies}} 
  />
  <AddMovieForm @loadMovies={{this.loadMovies}} />
</div>