<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <MovieList @movies={{this.movies}} @isLoading={{this.isLoading}} @isError={{this.isError}} />

  <AddMovieForm @loadMovies={{this.loadMovies}} />
</div>