<li class={{this.styleNamespace}}>
  <div class="details">
    <h2>
      {{this.movie.title}}
    </h2>
    <p>
      {{this.movie.description}}
    </p>
    <DeleteButton @movie={{this.movie}} @deleteMovie={{@deleteMovie}} />
  </div>
</li>