<div class={{this.styleNamespace}}>
    <h2 id="title">Edit Movie</h2>
    {{#if @movie}}
      <UpdateMovieForm @movie={{@movie}} @closeModal={{@closeModal}} />
    {{else}}
      <p>Loading movie details...</p>
    {{/if}}
  <button type="button" id="close" {{on "click" @closeModal}}>Close</button>
</div>