<ul class={{this.styleNamespace}}>
  {{#if @isLoading}}
    <p class="loading-message">Loading your movies...</p>
  {{else if @isError}}
    <p class="error-message">There has been an error loading your movie collection! Please try again!</p>
  {{else}}
    {{#each @movies as |movie|}}
      <MovieList::MovieListItem
        @movie={{movie}}
        @deleteMovie={{@deleteMovie}}
        @loadMovies={{@loadMovies}} 
      />
    {{/each}}
  {{/if}}
</ul>