<ul class={{this.styleNamespace}}>
  {{#if @isLoading}}
    <p>Loading your movies...</p>
  {{else if @isError}}
    <p>There has been an error loading your movie collection! Please try again!</p>
  {{else}}
    {{#each @movies as |movie|}}
      <MovieList::MovieListItem
        @movie={{movie}}
        @deleteMovie={{@deleteMovie}}
      />
      <hr />
    {{/each}}
  {{/if}}
</ul>