<form class={{this.styleNamespace}} {{on "submit" this.addMovie}}>
  <label for="movie-title" data-test-title-label>
    <h2>
      Title:
    </h2>
    <Input
      id="movie-title"
      @type="text"
      @value={{this.title}}
      class="form-title"
      placeholder="Title..."
    />
  </label>

  <label for="movie-description" data-test-description-label>
    <h2>
      Description:
    </h2>
    <Input
      id="movie-description"
      @type="text"
      @value={{this.description}}
      class="form-description"
      placeholder="Description..."
    />
  </label>

  <button type="submit">
    Add Movie
  </button>

  {{#if this.errorMessage}}
    <div class="error-message">
      {{this.errorMessage}}
    </div>
  {{else if this.successMessage}}
    <div class="success-message"> {{this.successMessage}}</div>
  {{/if}}

</form>